# Menyertakan Prefix Kolom

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [2]:
n_rows =5
n_cols=5

cols = tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10, size=(n_rows,n_cols)), columns = cols)
df

   A  B  C  D  E
0  5  5  9  6  2
1  7  9  8  6  3
2  7  3  7  9  8
3  5  5  6  4  8
4  3  1  5  3  6

In [3]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        5        5        9        6        2
1        7        9        8        6        3
2        7        3        7        9        8
3        5        5        6        4        8
4        3        1        5        3        6

### Menyertakan Suffix Kolom

In [4]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        5        5        9        6        2
1        7        9        8        6        3
2        7        3        7        9        8
3        5        5        6        4        8
4        3        1        5        3        6