# Konversi Tipe Data Numerik

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
print(pd.__version__)

1.3.4

### Persiapan Data Frame

In [2]:
data ={'col1':['1','2','3','teks'],'col2':['1','2','3','4']}
df=pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

# Konversi Tipe Data dengan Fungsi astype()

In [3]:
df_x = df.astype({'col2':'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

# Konversi Tipe Data dengan Fungsi to_numeric()

In [4]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4