# Mengganti Nama Kolom pada Data Frame

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  6  6  6  3  6
1  3  7  6  2  2
2  3  4  2  4  7
3  4  9  7  4  3
4  7  5  9  5  5

In [3]:
df.rename(columns={'C' : 'Hobi'})

   A  B  Hobi  D  E
0  6  6     6  3  6
1  3  7     6  2  2
2  3  4     2  4  7
3  4  9     7  4  3
4  7  5     9  5  5