# Menghapus (drop) missing values (NaN)

### Import Modul dan Cek Versi

In [16]:
import pandas as pd

print(pd.__version__)

1.3.4

### Persiapan data frame

In [5]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  4Lhj84vnok  1.496130 -1.578714  0.106576 -0.224222
1  Bo3U175t56 -0.426451 -2.037751  0.113148  0.171161
2  kNCAeF3dNF  0.577271       NaN -0.582416  1.554048
3  K12qauF5dl       NaN -0.328478 -0.752027  0.205167
4  OY4I1Q87Oz  1.949835  1.496792 -1.128963  0.188560

In [6]:
df = df.rename(columns={'index' : 'Z'})
df.head()

            Z         A         B         C         D
0  4Lhj84vnok  1.496130 -1.578714  0.106576 -0.224222
1  Bo3U175t56 -0.426451 -2.037751  0.113148  0.171161
2  kNCAeF3dNF  0.577271       NaN -0.582416  1.554048
3  K12qauF5dl       NaN -0.328478 -0.752027  0.205167
4  OY4I1Q87Oz  1.949835  1.496792 -1.128963  0.188560

### Backup data

In [7]:
df_backup = df.copy(deep=True)

Menghapus kolom yang mengandung missing values

In [8]:
df = df.dropna(axis='columns')
df.head()

            Z
0  4Lhj84vnok
1  Bo3U175t56
2  kNCAeF3dNF
3  K12qauF5dl
4  OY4I1Q87Oz

### Menghapus baris yang mengandung missing values

In [10]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  4Lhj84vnok  1.496130 -1.578714  0.106576 -0.224222
1  Bo3U175t56 -0.426451 -2.037751  0.113148  0.171161
4  OY4I1Q87Oz  1.949835  1.496792 -1.128963  0.188560
5  nAwfvA5rte  2.252642  0.494909 -1.002778 -0.190715
6  njZCt5NgcO -0.561485 -0.263983  0.242996  0.075206

### Melihat persentase missing values untuk tiap kolom

In [11]:
f = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.133333
B    0.100000
C    0.133333
D    0.033333
dtype: float64