# Menggabungkan (merge) dua Data Frame

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [2]:
n_rows = 5 
n_cols = 5
cols = tuple('ABCDE') 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0  13   3  10  18   9
1   9  10  15  10  19
2  11  15   9  13  17
3   6  10   6  11   1
4  13  10   6  13   2

# Memecah Data Frame

In [3]:
df1 = df.copy(deep = True)
df1 = df1.drop([1, 4]) #membuang baris index 1 dan 4
df1

    A   B   C   D   E
0  13   3  10  18   9
2  11  15   9  13  17
3   6  10   6  11   1

In [4]:
df2 = df.copy(deep = True)
df2 = df2.drop([0, 3]) #membuang baris index 0 dan 3
df2

    A   B   C   D   E
1   9  10  15  10  19
2  11  15   9  13  17
4  13  10   6  13   2

# Menggabungkan dua data frame

In [5]:
df_inner = pd.merge(df1, df2, how ='inner')
df_inner

#how parameter inner akan menggabungkan 2 data frame, dimana data frame yang baru berisi
#baris yang terdapat pada kedua data frame sumbernya
#data frame yang baru akan mengadopsi index yang baru

    A   B  C   D   E
0  11  15  9  13  17

In [6]:
df_outer = pd.merge(df1, df2, how ='outer')
df_outer

    A   B   C   D   E
0  13   3  10  18   9
1  11  15   9  13  17
2   6  10   6  11   1
3   9  10  15  10  19
4  13  10   6  13   2