# Membentuk dummy Data Frame

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

# Membentuk data frame dari dictionary

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4],
             'col2':[5, 6, 7, 8]})

#dalam dicitionary memiliki key dan value
#key akan membentuk tabel kolom
#value akan berisi data untuk kolom tersebut

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

# Membentuk data frame dari numpy array

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[17,  9,  8],
       [14, 19,  9],
       [ 9, 12, 16],
       [ 4,  5, 17],
       [ 3, 18, 14]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  17   9   8
1  14  19   9
2   9  12  16
3   4   5  17
4   3  18  14

# Membentuk data frame dengan memanfaatkan pandas.util.testing

In [6]:
pd.util.testing.makeDataFrame().head()

                   A         B         C         D
ZEKu3xOrTw  0.676377 -0.522842 -0.911926 -0.370851
tO7hZ47vZC  1.572339  1.146801 -0.846814 -0.737271
beUJjlkIjV  0.227945 -0.191131  0.093634  0.302388
O0rSFc7Fo5  0.435075 -1.876932 -0.216015  0.735270
feDulY4BQA  0.509444 -1.123873 -1.284268 -0.932415

In [7]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [8]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -0.312839 -0.352166  1.145164 -1.390870
2000-01-04  1.471812  0.009842 -0.942945 -0.245282
2000-01-05 -1.018575 -1.138777 -0.702363 -1.372721
2000-01-06  0.024871  2.021737 -0.273455 -0.402419
2000-01-07  0.109586 -0.316366  0.392441  0.830068

In [9]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
2AP4mAHJeV  0.588878  0.483387  0.169013  0.818207
NVXYFkGszz  0.474619 -1.446527 -0.109917  0.099443
gUagq7g5ub -0.066375  0.586657  0.055052 -0.414229
nqDqFStMZf -0.581879 -1.555575  1.034614  0.769886
e6iHyDYKrK -0.245190 -2.407798  0.196389 -0.925622