# Agregasi pada data frame menggunakan agg()

Agregasi pada data frame menggunakan agg()

In [1]:
import pandas as pd
print(pd.__version__)

1.3.5

Persiapan Data Frame

In [2]:
df = pd.read_csv('/content/iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.groupby('Species')['PetalLengthCm'].count().to_frame()

#count untuk menghitung jumlah baris
#to_frame() hasil output ditampilkan dalam bentuk frame
#fungsi agregrasinya dalam bentuk count()

                 PetalLengthCm
Species
Iris-setosa                 50
Iris-versicolor             50
Iris-virginica              50

In [4]:
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

#fungsi agregasinya adalah mean() yang berfungsi untuk menghitung nilai rata-rata

                 PetalLengthCm
Species
Iris-setosa              1.464
Iris-versicolor          4.260
Iris-virginica           5.552

In [5]:
df.groupby('Species')['PetalLengthCm'].median().to_frame()

                 PetalLengthCm
Species
Iris-setosa               1.50
Iris-versicolor           4.35
Iris-virginica            5.55

# Agregasi dengan agg()

In [8]:
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

#fungsi agg() dalam bentuk list yang berisi fungsi agregasi apa saja yang mau dikenakan pada data yang sudah dikelompokkan

                 count   mean  median
Species
Iris-setosa         50  1.464    1.50
Iris-versicolor     50  4.260    4.35
Iris-virginica      50  5.552    5.55

# Agregasi dengan describe()

In [9]:
df.groupby('Species')['PetalLengthCm'].describe()

                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9