# Fungsi agregasi first dan last pada Python Pandas

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
print(pd.__version__)

1.3.4

### Persiapan Data Frame

In [3]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi','Wati'],
    'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa

In [4]:
df.groupby('dokter')['pasien'].count().to_frame()

#.count() berfungsi untuk mendata jumlah pasien untuk setiap dokter yang bertugas

        pasien
dokter
Budi         3
Iwan         1
Wati         2

In [5]:
df.groupby('dokter')['pasien'].first().to_frame()

#.first() berfungsi untuk menampilkan data pada baris pertama dari setiap kelompok
#untuk menampilkan pasien pertama untuk kelompok data dokter

        pasien
dokter
Budi     Abdul
Iwan      Asep
Wati    Rahmat

In [6]:
df.groupby('dokter')['pasien'].last().to_frame()

#.first() berfungsi untuk menampilkan data pada baris terakhir dari setiap kelompok
#untuk menampilkan pasien terakhir untuk kelompok data dokter
#jika hanya memiliki satu pasien, maka akan menampilkan nama pasien yang sama

       pasien
dokter
Budi    Wiwin
Iwan     Asep
Wati     Lisa