# Seleksi weekdays dan weekends pada data deret waktu

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan data frame

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols) 

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D') #frekuensi daily
df

            col1  col2
2000-01-01    13     5
2000-01-02     9    15
2000-01-03     2     3
2000-01-04    16     8
2000-01-05    17     7
...          ...   ...
2000-12-26    14    17
2000-12-27    19     2
2000-12-28     9    11
2000-12-29    16    12
2000-12-30     7    11

[365 rows x 2 columns]

In [4]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

#data frame harus memiliki index date time

            col1  col2
2000-01-03     2     3
2000-01-04    16     8
2000-01-05    17     7
2000-01-06    18     5
2000-01-07    13     5
2000-01-10    14    11
2000-01-11    17     7

In [5]:
weekdays_df = df[df.index.dayofweek.isin([5, 6])]
weekdays_df.head(7)

            col1  col2
2000-01-01    13     5
2000-01-02     9    15
2000-01-08    10    17
2000-01-09     4    17
2000-01-15     4    17
2000-01-16     4     2
2000-01-22     7    13