# Seleksi Baris dengan Between

### Import Modul dan Cek Versi

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame

In [2]:
n_rows = 10 
n_cols = 5 
cols = tuple ('ABCDE')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols) 
df

   A  B  C  D  E
0  4  9  2  9  1
1  9  3  1  7  7
2  2  4  6  5  6
3  1  6  9  6  2
4  9  8  6  4  5
5  5  8  3  9  7
6  1  6  8  3  1
7  7  3  2  5  1
8  1  5  3  7  9
9  7  6  7  7  5

In [3]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
0  4  9  2  9  1
2  2  4  6  5  6
5  5  8  3  9  7

In [6]:
df[df['A'].between(2, 5, inclusive=False)]

C:\Users\Felisa\AppData\Local\Temp/ipykernel_14560/2550752053.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
0  4  9  2  9  1